Gracefully report data validation errors

When migrating old data, I encountered quite some problems with wrong data, e.g. calendar entries containing lines unparsable by vObject, or vCards failing validation.

In this case the server's request handler crashes (see below) and the concrete error message shows up only in the log file. The clients receives status code 500, indicating a server error, which is wrong.

It would be very helpful if radicale would catch these errors and report them to the client (using status code 422, see [RFC 4918 section11.2](https://tools.ietf.org/html/rfc4918#section-11.2).

```
An exception occurred during request:
Traceback (most recent call last):
File "/usr/lib/python3.4/wsgiref/handlers.py", line 137, in run
self.result = application(self.environ, self.start_response)
File "/usr/local/lib/python3.4/dist-packages/radicale/__init__.py", line 414, in __call__
environ, base_prefix, path, user)
File "/usr/local/lib/python3.4/dist-packages/radicale/__init__.py", line 665, in do_PUT
items = list(vobject.readComponents(content or ""))
File "/usr/local/lib/python3.4/dist-packages/vobject/base.py", line 1090, in readComponents
vline = textLineToContentLine(line, n)
File "/usr/local/lib/python3.4/dist-packages/vobject/base.py", line 920, in textLineToContentLine
return ContentLine(*parseLine(text, n), **{'encoded': True,
File "/usr/local/lib/python3.4/dist-packages/vobject/base.py", line 808, in parseLine
raise ParseError("Failed to parse line: {0!s}".format(line), lineNumber)
vobject.base.ParseError: At line 24: Failed to parse line: <HTML>
```

FYI: I implemented this, pull-request to come.

Bad request responses are send to clients now instead of server error. The error causing the problem gets logged with level WARNING.