FR: Support JSContact (RFC 9553) for storing contacts

In the IETF’s [RFC 9553](https://datatracker.ietf.org/doc/html/rfc9553/), **JSContact**, a new standard for JSON Representation of Contact Data has been published. I believe this could be the final solution for the major issue of contact cards compatibility!

It would be absolutely fantastic if Radicale could support this!

**Additional context**
- [RFC 9554](https://datatracker.ietf.org/doc/html/rfc9554/): *vCard Format Extensions for JSContact*
- [RFC 9555](https://datatracker.ietf.org/doc/html/rfc9555/): *JSContact: Converting from and to vCard*


The storage backend is format agnostic, means it can store VCARD/ICAL or even JSON. The interesting parts are 
- format validation of JSON
- autoconversion JSON <-> VCARD/ICAL depending on client capabilities for single items or list of items
- PROPFIND/REPORT handling

As current validation and handling is "outsourced" to _vobject_ and all tweaks are based on _vobject_ object handling I strongly assume for the time being the JSON variant can only supported as input/output format, all internal handling has to be done on ICAL/VCARD layout by using _vobject_ until it's completly turned around (which would be hard work imho).

See also py-vobject/vobject#23 and  py-vobject/vobject#24

These have had no interest to date. 

> The storage backend is format agnostic, means it can store VCARD/ICAL or even JSON. The interesting parts are
> 
>     * format validation of JSON
> 
>     * autoconversion JSON <-> VCARD/ICAL depending on client capabilities for single items or list of items
> 
>     * PROPFIND/REPORT handling
> 
> 
> As current validation and handling is "outsourced" to _vobject_ and all tweaks are based on _vobject_ object handling I strongly assume for the time being the JSON variant can only supported as input/output format, all internal handling has to be done on ICAL/VCARD layout by using _vobject_ until it's completly turned around (which would be hard work imho).

For vobject, my thoughts so far have been to move towards abstract models for Contact, Event, etc, with codecs for vCard/iCalendar, JSContact/JSCalendar, and possibly other formats.  vobject's API has always been a very (_very_) thin wrapper around vCard/iCalendar though, so it seems somewhat tricky to enable migration without breaking existing code.

_radicale_ is relying on _vobject_ here, I keep this open but it can take longer until it appears.

@xplosionmind do you use any application that supports JSContact or JSCalendar?

> [@xplosionmind](https://github.com/xplosionmind) do you use any application that supports JSContact or JSCalendar?

To be honest, not really. I am not aware of any clients supporting this. I first opened an issue here because if there was a service like Radicale supporting it it would make much more sense for clients to implement the standard, otherwise I think nobody would ever care, unfortunately… [I just opened an issue for DAVx5](https://github.com/bitfireAT/davx5-ose/discussions/2796).