Wikipedia update on supported standards

Replace the unknowns at https://en.m.wikipedia.org/wiki/Comparison_of_CalDAV_and_CardDAV_implementations --> Server implemtations for Radicale.

As of today, these "unknowns" are:
- RFC 4331 Web­DAV quota
- RFC 5995 Web­DAV POST add member
- RFC 6578 Web­DAV sync
- RFC 7529 iCal RSCALE
- RFC 7540 HTTP/2
- RFC 7809 Cal­DAV time zones by ref.
- RFC 7953 iCal VAVAIL­ABILITY
- Free-busy URL

@htgoebel - thank you for the summary, I would assume none of them are supported so far, is one able to update the Wiki page?

@pbiering Everybody can update Wikipedia, most page (like this one) even without account.

Done, thank you for the hint