vCard `BDAY` field should not have `VALUE` parameter

First, thank you *very* much for this software! It might just be the final nail in my Google account's coffin.

[The vCard 3.0 `BDAY` type](https://datatracker.ietf.org/doc/html/rfc2426#section-3.1.5) does not support parameters, causing [validation](https://gitlab.com/engmark/vcard/) to fail on an export from Radicale:

```console
$ vcard contacts/addresses.vcf 
Property should not have parameters (See RFC 2426 section 3 for details): {'VALUE': {'DATE'}}
File: contacts/addresses.vcf
File line: 25
vCard line: 4
Property: BDAY
Property line: BDAY;VALUE=DATE:19440217
```

To reproduce:

1. Import a valid vCard with a `BDAY` line into Thunderbird 128.2.3esr connected to Radicale 3.2.3.
2. Export vCard file from Radicale

Workaround: `sed --in-place --expression='s/BDAY;VALUE=DATE:/BDAY:/' addresses.vcf`

Can you please more specify the workflow?

From my understanding
  * valid vCard including BDAY was imported to Thunderbird using local import
  * Thunderbird is connected to Radicale
* What is meant with "export vCard" file from Radicale

Radicale itself is not touching the content of ICS or VCF, parsing is "outsourced" to dependency "vobject"

"vobject" should also not adjust content, can it be that Thunderbird itself modified the vCard before sending to Radicale?

Can you provide an anonymized example to try to reproduce?

Thank you! It is indeed a [Thunderbird issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1922914).