Worker thread crashes if a VCALENDAR component contains both VEVENT and VJOURNAL components

I noticed an odd bug in Radicale 3.0.6.  When it encounters an iCalendar file that contains both a VEVENT and VJOURNAL item inside the VCALENDAR object, it fails to process it.  

```
[129269/Thread-2395 (process_request_thread)] [ERROR] An exception occurred during REPORT request on '/colin/MyCalendarUUID/': Failed to load item 'MyEventUUID.ics' in 'colin/MyCalendarUUID': Multiple component types in object: 'VEVENT', 'VJOURNAL'
```

However, this does appear to be valid according to RFC 5545, Section 3.6, which says, "The body of the iCalendar object consists of a sequence of calendar properties and one or more calendar components".

I admit that I did add this VJOURNAL section to an .ics file by hand, to test some code that I'm writing.  The file looked something like this:

```icalendar
BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//mozilla.org/Mozilla Thunderbird//EN
BEGIN:VTIMEZONE
[timezone stuff here]
END:VTIMEZONE
BEGIN:VEVENT
[event stuff here]
END:VEVENT
BEGIN:VJOURNAL
[journal items here]
END:VJOURNAL
END:VCALENDAR
```

I copied this file into two files, one with the VJOURNAL components removed and one with the VEVENT component removed, and Radicale synced it correctly.

this is not an issue of `radicale` itself but the underlying object parser library `vobject` (https://github.com/eventable/vobject). Unfortunatly this is turned stale. One has to investigate which of the forks is actively fixing bugs on-top and would be a best candidate to file such issue (and potentially replace "upstream" if it stays stale forever).

Got it. Thank you.

@rhymeswithmogul, I attempted to replicate this issue today.  I used to following ICS file (cobbled together from other vObject test cases):

```
BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//mozilla.org/Mozilla Thunderbird//EN
BEGIN:VTIMEZONE
TZID:US/Pacific
BEGIN:STANDARD
DTSTART:19671029T020000
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=10
TZOFFSETFROM:-0700
TZOFFSETTO:-0800
TZNAME:PST
END:STANDARD
BEGIN:DAYLIGHT
DTSTART:19870405T020000
RRULE:FREQ=YEARLY;BYDAY=1SU;BYMONTH=4
TZOFFSETFROM:-0800
TZOFFSETTO:-0700
TZNAME:PDT
END:DAYLIGHT
END:VTIMEZONE
BEGIN:VEVENT
SEQUENCE:0
DTSTART;TZID=US/Pacific:20021028T140000
RRULE:FREQ=Weekly;COUNT=10
DTSTAMP:20021028T011706Z
SUMMARY:Coffee with Jason
UID:EC9439B1-FF65-11D6-9973-003065F99D04
DTEND;TZID=US/Pacific:20021028T150000
BEGIN:VALARM
TRIGGER;VALUE=DURATION:-P1D
ACTION:DISPLAY
DESCRIPTION:Event reminder\, with comma\nand line feed
END:VALARM
END:VEVENT
BEGIN:VJOURNAL
UID:19970901T130000Z-123405@example.com
DTSTAMP:19970901T130000Z
DTSTART;VALUE=DATE:19970317
SUMMARY:Staff meeting minutes
DESCRIPTION:1. Staff meeting: Participants include Joe\,
  Lisa\, and Bob. Aurora project plans were reviewed.
  There is currently no budget reserves for this project.
  Lisa will escalate to management. Next meeting on Tuesday.\n
 2. Telephone Conference: ABC Corp. sales representative
  called to discuss new printer. Promised to get us a demo by
  Friday.\n3. Henry Miller (Handsoff Insurance): Car was
  totaled by tree. Is looking into a loaner car. 555-2323
  (tel).
END:VJOURNAL
END:VCALENDAR
```

Using current vObject, this file appears to parse without errors.

Looking at the raised exception, it appears to originate from `radicale/item/__init__.py` line 122.  I haven't looked closely at that logic, but I think this is probably a Radicale issue, rather than a vObject one, @pbiering?

I hope I've fixed this accordingly...at least the file passed now the validation.

> > I hope I've fixed this accordingly...at least the file passed now the validation.
> 
> 
> 
> Looks like spec misunderstood, my PR is broken
> 
> 
> 
> @rhymeswithmogul : was this initial ICS file a real-life example or a constructed one?
> 
> 
> 
> https://datatracker.ietf.org/doc/html/rfc4791#section-4.1 (current implementation)
> 
> 
> 
> _"Calendar object resources contained in calendar collections MUST NOT contain more than one type of calendar component (e.g., VEVENT, VTODO, VJOURNAL, VFREEBUSY, etc.) with the exception of VTIMEZONE components"_
> 

Yes, it was a constructed example. I was working on some code that was apparently violating the specification. My bad. Seeing as how the RFC says **MUST NOT**, I suppose we can ignore this. 
